.schedule {
  -webkit-box-sizing: class="support css-value">content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  position: absolute;
  border: none;
  color: black;
  background: -webkit-linear-gradient(45deg, rgba(109,179,242,1) 0, rgba(54,144,240,1) 28%, rgba(54,144,240,1) 48%, rgba(84,163,238,1) 70%, rgba(30,105,222,1) 100%);
  background: -moz-linear-gradient(45deg, rgba(109,179,242,1) 0, rgba(54,144,240,1) 28%, rgba(54,144,240,1) 48%, rgba(84,163,238,1) 70%, rgba(30,105,222,1) 100%);
  background: linear-gradient(45deg, rgba(109,179,242,1) 0, rgba(54,144,240,1) 28%, rgba(54,144,240,1) 48%, rgba(84,163,238,1) 70%, rgba(30,105,222,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;

}

.text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: White;
  text-shadow: 2px 2px #000000;
  font-size: 200px; 
    font-size: 15vw;
}